.bs-docs-header, .bs-docs-masthead {
    position: relative;
    padding: 0 0;
    color: #cdbfe3;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    background-color: #2a4488;
}
.bs-docs-header h1 {
    margin-top: 30px;
    color: #3d9b1e;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 45px;
}

th{ color: #000000;}
label{color: #cdbfe3;}    
.navbar, .navbar-inverse{
    background-color: rgba(0, 90, 120, 0.7);    
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2a4488;
    color: white;
    text-align: center;
}
.dropdown, .dropdown-menu, .dropdown-toggle{ 
    background-color: rgba(0, 90, 120, 0.7);  
    font-weight: bold; 
}
.icon-bar, .navbar-brand, .icon-bar, .navbar-toggle{
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;   
}
body,html,.main-display-area,.tab-content,.tab-pane,iframe,.row{
    width: 100%;
    height:100%;                
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;

  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}